<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="me" href="https://piaille.fr/@DiscordGauche">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
    <%= title %>
</title>
<meta name="description" content="<%= description %>">

<meta property="twitter:card" content="<%= card %>">
<meta property="twitter:title" content="<%= title %>">
<meta property="twitter:description" content="<%= description %>">
<meta property="twitter:image" content="<%= image %>">
<meta property="theme-color" content="#622DA6">
<meta property="og:site_name" content="La Barricade : Le Discord de Gauche">
<meta property="og:image" content="<%= image %>">

<link rel="stylesheet" crossorigin="" href="/index.css">


<script type=”application/ld+json”>
    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "La Barricade",
        "url": "https://discord-gauche.fr"
      }
</script>